@model IEnumerable<UoUWebApp.Models.DepartmentStatics>

@{
    ViewBag.Title = "Departments";
    ViewBag.ContentTitle = "Departments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles{
    <link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DeptCode)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TotalCourses)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TotalTeachers)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TotalCourses)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TotalTeachers)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script>
        $(function ()
        {
            $('.table').DataTable();
        });
    </script>
}
